body {
    background-image: url(../images/painting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width:80%;
    height:700px;
    margin:20px auto;
    background color:gray;
    color:black;
}