body {
    background-image: url(../images/painting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width:50%;
    height:500px;
    margin:20px auto;
    background-color:gray;
    color:black;
    text-align: center;
    padding:100px;
    border-radius: 100px;
}
